/* You can add global styles to this file, and also import other style files */
html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

app-root{
    height: 100%;
}

body{
    // display: flex;
    // flex-direction: column;
    
    // overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
}

html{
    scrollbar-width: none;  /* Firefox */
}