<footer>
    <div class="container">
        <div class="footerTop">
            <p><span>Credit:</span> China: A History - John Keay</p>
            <div class="links">
                <p>Links:</p>
                <a href="https://github.com/ThStranick15">GitHub</a>
                <a href="https://thstranick-portfolio.netlify.app/">Portfolio</a>
            </div>
        </div>
        <hr>
        <div class="footerBottom">
            <p>&copy;2024 Thomas Stranick</p>
        </div>
    </div>
    
</footer>