main {
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 100vh;
    .vLine{
        position: absolute;
        border-left: 6px solid darkred;
        height: 100%;
        left: 50%;
        z-index: -1;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }

}