<header>
    <div class="title">
        <h1>An Introductory Timeline of Chinese (中国) History</h1>
    </div>
    <div class="imgcontainer">
        <picture>
            <source media="(min-width: 801px)" srcset="/images/GreatWall2.JPG">
            <source media="(max-width: 800px)" srcset="/images/GreatWall.JPG">
            <img src="/images/GreatWall2.JPG" alt="Great Wall of China">
        </picture>
        <p class="caption">The Great Wall of China - Thomas Stranick</p>
    </div>
    <div class="headline">
        <p class="headlineText">Explore the fascinating history of China through this interactive timeline.</p>
        <a class="down" (click)="scrollToTimeline('timelineHeader')">&darr;</a>
    </div>
    
</header>

