<header>
    <div class="title">
        <h1>An Introductory Timeline of Chinese (中国) History</h1>
    </div>
    <div class="imgcontainer">
        <img srcset="\images\GreatWall.JPG 480w, \images\GreatWall2.JPG 800w" 
        sizes="(max-width:600px) 480px, 800px "
        alt="The Great Wall of China"
        src="\images\GreatWall2.JPG">
        <p class="caption">The Great Wall of China - Thomas Stranick</p>
    </div>
    <div class="headline">
        <p class="headlineText">Explore the fascinating history of China through this interactive timeline.</p>
        <a class="down" (click)="scrollToTimeline('timelineHeader')">&darr;</a>
    </div>
    
</header>

